extends default

block content
  div.container
  div
    h3 Welcome to Baked! Take a look around the site and place an order!
    table
        tr
            td 
                img(src="/ccc.jpg", alt="Chocolate Chip Cookies")
            td 
                img(src="/pbc.jpg", alt="Peanut Butter Cookies")
            td 
                img(src="/cc.jpg", alt="Chocolate Cupcakes")
        tr
            td
                img(src="/vc.jpg", alt="Vanilla Cupcakes")
            td 
                img(src="/logo.png", alt="Site Logo")
            td 
                img(src="/cb.jpg", alt="Chocolate Babka")
        tr
            td 
                img(src="/vb.jpg", alt="Vanilla Babka")
            td 
                img(src="/cnb.jpg", alt="Cinnamon Babka")
            td 
                img(src="/ar.jpg", alt="Assorted Rugelach")